<div class="row">
	<div class='col-md-2'></div>
	<div class='col-md-8'>
		<table class="table table- table-hover table-sm">
			<thead>
				<th scope="col"> Hospital </th>
				<th scope='col'> Estat </th>
				<th scope='col'> Latencia </th>
				<th scope='col'> Nº de visites </th>
			</thead>
			<tbody>

				<tr *ngFor="let hospital of hospitals">
					<th scope="row">{{hospital.nom}}</th>
					<td class="{{hospital.class}}"> {{hospital.estat}}</td>
					<td> {{hospital.latencia}} </td>
					<td> {{hospital.n_visites}} </td>
					<img src="https://img.icons8.com/material/24/000000/checkmark.png">
				</tr>
			</tbody>
		</table>
	</div>
	<div class='col-md-2'></div>
	</div>