<div class="row">
	<div class="col-md-2"></div>
	
	<div class="col-md-2">
		
		<div class="card text-white bg-warning">
			<div class="card-body">
			<p>Incidencies</p>
			<h2 class="h2">{{incidencies}}</h2>
			</div>
		</div>
	

	</div>
		<div class="col-md-2">
		
		<div class="card text-white bg-primary">
			<div class="card-body">
			<p>Visites</p>
			<h2 class="h2">{{visites}}</h2>
			</div>
		</div>
	

	</div>
	<div class="col-md-2">
		
		<div class="card text-white bg-secondary">
			<div class="card-body">
			<p>Temps de resposta</p>
			<h2 class="h2">{{temps_resposta}} ms</h2>
			</div>
		</div>
	

	</div>
	<div class="col-md-2">
		
		<div class="card text-white bg-success">
			<div class="card-body">
			<p>Notificacions</p>
			<h2 class="h2">{{notificacions}}</h2>
			</div>
		</div>
	

	</div>
	
	<div class="col-md-2"></div>
</div>
